<form
[formGroup]="changePswd" (ngSubmit)="onSubmit()">
    <div >
        <label>Current Password</label>
        <div class="form-control" style="min-width: 25vw;display: flex;justify-content: space-between;align-items: center;">
            <input formControlName="currentPswd" type="{{eye1 ? 'password':'text'}}" class="form-control" style="border: none;" />
            <fa-icon [icon]="faEye" *ngIf="eye1; else show1" (click)="eye1=false;"></fa-icon>
            <ng-template #show1>
                <fa-icon [icon]="faEyeSlash" (click)="eye3=true;"></fa-icon>
            </ng-template>
        </div>
    </div>
    <div>
        <label>New Password</label>
        <div class="form-control" style="min-width: 25vw;display: flex;justify-content: space-between;align-items: center;">
            <input formControlName="newPswd" type="{{eye2 ? 'password':'text'}}" class="form-control" style="border: none;" />
            <fa-icon [icon]="faEye" *ngIf="eye2; else show2" (click)="eye2=false;"></fa-icon>
            <ng-template #show2>
                <fa-icon [icon]="faEyeSlash" (click)="eye3=true;"></fa-icon>
            </ng-template>
        </div>
        
    </div>
    <div>
        <label>Confirm Password</label>
        <div class="form-control" style="min-width: 25vw;display: flex;justify-content: space-between;align-items: center;">
            <input formControlName="confirmPswd" type="{{eye3 ? 'password':'text'}}" class="form-control" style="border: none;" />
            <fa-icon [icon]="faEye" *ngIf="eye3;else show3" (click)="eye3=false;"></fa-icon>
            <ng-template #show3>
                <fa-icon [icon]="faEyeSlash" (click)="eye3=true;"></fa-icon>
            </ng-template>
        </div>
        
    </div>

    <button 
    [disabled]="!changePswd.valid"
    class="btn mt-2" 
    type="submit" 
    style="background-color: #1aa1a1;color: white;">Submit</button>
</form>