<form>
    <div>
        <label>Current Password</label>
        <div class="form-control" style="min-width: 25vw;display: flex;justify-content: space-between;align-items: center;">
            <input type="{{eye ? 'password':'text'}}" class="form-control" style="border: none;" />
            <fa-icon [icon]="faEye" *ngIf="eye" (click)="eye=false;"></fa-icon>
            <fa-icon [icon]="faEyeSlash" *ngIf="!eye" (click)="eye=true;"></fa-icon>
        </div>
    </div>
    <div>
        <label>New Password</label>
        <div class="form-control" style="min-width: 25vw;display: flex;justify-content: space-between;align-items: center;">
            <input type="{{eye ? 'password':'text'}}" class="form-control" style="border: none;" />
            <fa-icon [icon]="faEye" *ngIf="eye" (click)="eye=false;"></fa-icon>
            <fa-icon [icon]="faEyeSlash" *ngIf="!eye" (click)="eye=true;"></fa-icon>
        </div>
        
    </div>
    <div>
        <label>Confirm Password</label>
        <div class="form-control" style="min-width: 25vw;display: flex;justify-content: space-between;align-items: center;">
            <input type="{{eye ? 'password':'text'}}" class="form-control" style="border: none;" />
            <fa-icon [icon]="faEye" *ngIf="eye" (click)="eye=false;"></fa-icon>
            <fa-icon [icon]="faEyeSlash" *ngIf="!eye" (click)="eye=true;"></fa-icon>
        </div>
        
    </div>

    <button class="btn btn-primary mt-2">Submit</button>
</form>