
<form>
    <div>
        <label class="form-label">Full Name</label>
        <p class="form-control mw" >name</p>
    </div>
    <!-- <div>
        <label class="form-label">Username</label>
        <p class="form-control" style="min-width: 25vw;">username</p>
    </div> -->
    <div>
        <label class="form-label">Email</label>
        <p class="form-control mw">email</p>
    </div>
    <div>
        <label class="form-label">Password</label>
        <p class="form-control mw">{{ passwordChange }}</p>
    </div>

    <div>
        <button class="btn btn-primary mt-2">Update</button>
        <button class="btn btn-outline-primary mt-2">Cancel</button>
    </div>
</form>