<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="manga">
      <img src="../../assets/images/spring.png" class="manga1" />
    </div>
    <div class="forms">
      <h1 class="title">Reset password</h1>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <label>Password</label>
          <input type="password" id="password" formControlName="password" />
          <label>Confirm Password</label>
          <input type="password" id="password" formControlName="password" />

          <button>change</button>
        </div>
      </form>
    </div>
  </div>
</div>
