<footer style="background-color: black;display: flex;flex-direction: column;justify-content: center;align-items: center;min-height: 20vh;">
    <div style="display: flex;">
        <fa-icon [icon]="faGoogle" style="color: white;"></fa-icon>
        <fa-icon [icon]="faTwitter" style="color: white;margin-left: 10px;"></fa-icon>
        <fa-icon [icon]="faInstagram" style="color: white;margin-left: 10px;"></fa-icon>
        <fa-icon [icon]="faYoutube" style="color: white;margin-left: 10px;"></fa-icon>
    </div>
    <div style="color: white;">
        <p>Contact Us</p>
    </div>
    
</footer>

