<div class="container">
    <div class="row">
        <form class="col-12 col-md-6 card shadow-lg p-3 mb-5 bg-white rounded">
            <label>Project Name</label>
            <input class="form-control" type="text" placeholder="Enter The Name" />
            <label>Project Description</label>
            <input class="form-control" type="text-area" placeholder="Enter The Email" />
        
            <button type="submit" class="btn btn-success mt-2">ADD</button>
        </form>
    </div>
</div>