.active{
    background-color: rgb(13, 110, 253);
}

.navTrue{
    display: flex;
    justify-content: space-between;
}
.navFalse{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .sideN{
        min-width: 12vw;
    }
}

@media screen and (max-width: 800px) {
    .sideN{
        min-width: 18vw;
    }
}