.f-pswd, .inp, .content{
    display: flex;
    flex-direction: column;
}
.f-pswd{
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 90vh;
}
.inp{
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    color: gray;
}
.content{
    min-width: 20vw;
}
.in{
    border: 2px solid rgb(202, 199, 199);
    height: 20px;
    border-radius: 5px;
}
.bt{
    background-color: #1aa1a1;
    border: none;
    padding: 10px;
    align-self: center;
    color: white;
    border-radius: 10px;
}

@media screen and (min-width: 300px) and (max-width: 700px ) {
    .lock-q{
        height: 30vh;
        width: 30vw;
        border-radius: 30vh;
    }
    .inp{
        font-size: 15px;
    }
    .in{
        width: 50vw;
    }
}

@media screen and (min-width: 700px ) and (max-width: 1024px ) {
    .lock-q{
        height: 30vh;
        width: 20vw;
        border-radius: 100px;
    }
    .inp{
        font-size: 15px;
    }
    .in{
        width: 30vw;
    }
}

@media screen and (min-width:1024px ) {
    .lock-q{
        height: 20vh;
        width: 10vw;
        border-radius: 200px;
    }
    .inp{
        font-size: 20px;
    }
    .in{
        width: 25vw;
    }
}