<div class="f-pswd">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Forgot Password</h1>

    <img src="../../../assets/images/lock.png" alt="lock-question"
    class="lock-q text-center" />
    
    <form class="content" [formGroup]="generatePswd" (ngSubmit)="onChangePassword()">
        <div class="inp">
            <label for="email">Email</label>
            <input id="email" formControlName="email" class="form-control" placeholder="Enter The Email" />
        </div>
    
        <div class="inp">
            <label for="npswd">New Password</label>
            <input id="npswd" formControlName="password" class="form-control" placeholder="Enter The Password" />
        </div>
    
        <div class="inp">
            <label for="cpswd">Confirm Password</label>
            <input id="cpswd" formControlName="re-password" class="form-control" placeholder="Re-enter The Password" />
            <!-- <p *ngIf="!generatePswd.get('password').valid">{{generatePswd.get('password')}}</p> -->
        </div>

        <button class="bt" type="submit">
            Change Password
        </button>
    </form>
    </div>
</div>